.bg-third {
  background-color: #e5e5e5;
}

.text-third {
  color: #7a7886;
}

a {
  color: black;
}

.bg-outline-white {
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.3);
}

.navigation > ul li.active a {
  color: blue;
}
.navigation > ul li.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 40px;
  background: blue;
  left: 14px;
}

.input-modal {
  height: 55px;
  width: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(169, 169, 169, 0.6);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
