.input-container {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgba(58, 61, 66, 0.1);
  border-radius: 14px;
  padding: 0 20px;
}

.input-search {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
