.bg-outline-white {
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.3);
}

.navigation > ul li.active a {
  color: blue;
}
.navigation > ul li.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 40px;
  background: blue;
  left: 14px;
}

.input-container {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgba(58, 61, 66, 0.1);
  border-radius: 14px;
  padding: 0 20px;
}

.input-search {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
